{% extends "rssFeed/base.html" %}

{% block content %}
<div class="container">
  <div class="col-md-10">
  {% for entry in entries %}
    <div class="col-md-12 col-sm-12 col-xs-12">
      <h4><a href="{{ entry.entry_link }}" target="_blank">{{ entry.title }}</a></h4>
    </div>
    <div class="col-md-2 col-sm-3 col-xs-3">
      <img class="img-responsive" src="{{ entry.image_link }}"/>
    </div>
    <div class="col-md-1 col-sm-1 col-xs-2">
      <p>Datum: </p>
      <p>Autor: </p>
    </div>
    <div class="col-md-9 col-sm-8 col-xs-7">
      <p>{{ entry.published }}</p>
      {% for author in entry.author_name.all %}
        <p>{{ author }}</p>
      {% endfor %}
    </div>
  {% endfor %} 

  {% if is_paginated %}
    <div id="pagination">
    <ul class="pagination" >
      {% if page_obj.has_previous %}
      <li> 
        <a href="?page={{ page_obj.previous_page_number }}">&#8617;</a>
      </li>
      {% endif %}
      <li>
        <a href="#">{{ page_obj.number }}</a>
      </li>
      {% if page_obj.has_next %}
      <li>
        <a href="?page={{ page_obj.next_page_number }}" >&#8618;</a>
      </li>
      {% endif %}
    </ul>
    </div>
  {% endif %}
  </div>


  <div class="col-md-2 sidebar">
    <h5><a href="/entry"> Svi unosi </a></h5>
    <hr>
  {% for feed in feeds %}
    <h5><a href="/feed/{{ feed.pk }}"> {{ feed.name }} </a></h5>
  {% endfor %}
</div>
</div>
{% endblock content %}

