{% extends "rssFeed/base.html" %}

{% block content %}
<div class="container">
<div class="row">
  <div class="col-md-3 col-sm-3 col-xs-12">
    {% for feed in rss_list %}
      <a href="/feed/{{ feed.pk }}" role="button"  class="btn btn-default btn-block" >{{ feed.name }}</a>

    {% endfor %}
  </div>


  <div class="col-md-offset-1 col-md-8 col-sm-offset-1 col-sm-8 col-xs-12">
    <form action="" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="Spremi unos" class="btn btn-default" />
    </form>
  </div>
</div>
  
</div>
{% endblock %}