.sidebar,
.navbar-light{
    background-color: #e3f2fd;
}

.sidebar{
    border-radius: 5px;
}

hr{
    border-color: #337ab7;
    margin-top: 5px;
    margin-bottom: 5px;
}

.btn{
    background-color: #e3f2fd;
    border: none;      
}